<!-- TopHeader -->
<ng-include src="'views/top-header.html'"></ng-include>
<!-- /#topheader-wrapper -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Reported issues</div>
      <table ng-table="dataView.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
          <td data-title="'Open Time'" filter="{timestamp: 'text'}" sortable="'timestamp'">{{row.timestamp | date : format : timezone}}</td>
          <td data-title="'Customer Name'" filter="{customerName: 'text'}" sortable="'customerName'">{{row.customerName}}</td>
          <td data-title="'Email'" filter="{email: 'text'}" sortable="'email'">{{row.email}}</td>
          <td data-title="'Description'" filter="{description: 'text'}" sortable="'description'">{{row.description}}</td>
          <td data-title="'Status'" filter="{status: 'text'}" sortable="'status'">{{row.status}}</td>
          <td data-title="'Closed Time'" filter="{closedTimeStamp: 'text'}" sortable="'closedTimeStamp'">{{row.closedTimeStamp}}</td>
          <td data-title="'Employee Name'" filter="{employeeName: 'text'}" sortable="'employeeName'">{{row.employeeName}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
