<!-- TopHeader -->
<ng-include src="'views/top-header.html'"></ng-include>
<!-- /#topheader-wrapper -->
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Number of employees</div>
      <div class="panel-body">
        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    <leaflet lf-center="us" markers="markers" controls="controls" width="100%" height="500px"></leaflet>
    </div>

  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Table of employees number</div>
      <div class="panel-body">
        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>

      <!-- Table -->
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Location</th>
          <th>Numbers</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in employeesData">
          <td>{{employee.location}}</td>
          <td>{{employee.number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
